# --- System Files ---
.DS_Store
Thumbs.db

# --- Build Files ---
*.iml
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# --- Android Studio / IntelliJ Files ---
.idea/
*.iws
*.ipr
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# --- Local Config ---
local.properties

# --- Signing / Secrets ---
*.jks
*.keystore
google-services.json

# --- Logs & Profiling ---
*.log
*.hprof